
/*In this page I have:*/
/*- a little bit different background color than other pages in order to highlight the central information*/
/*- contact us section contains the button with thicker border if you hover on it*/
/*- Accordian effect for FAQs*/
/*-  I put more efforts on the structure of this page. div and flex are all used in it*/
/*- this page is responsive as well...display will change a little bit if you shrink the page...*/


h1, h2, h3, h4, th, td{
    font-family: 'Manrope', sans-serif;
}

h5{
    font-family: 'EB Garamond', sans-serif;
}

h6{
    font-family:Breath;
}

p,a,li,textarea,input{
    font-family: 'Manrope', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}


/*---------------Contact us section----------------*/


.contact-us{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-us p{
    font-size: 14px;
}

.contact-us > div:first-child{
    padding:0;
    margin: 0;
    width: 80%;
}

.contact-us-3-col{
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    margin: 2% 10%;
    background-color: #ffffff;
    padding: 3% 2%;
    align-items: center;
    justify-content: center;
}

.contact-us-c {
    height: 100%;
    display: grid;
    grid-template-rows: 90% 10%;
    padding: 2%;
    text-align: center;
}

.contact-us-c h2{
    font-size: 20px;
    text-transform: uppercase;
}

.contact-us-c p{
    padding: 0 10%;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    text-align: justify;
}


.button-container{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.monochrome-button {
    background-color: #ffffff;
    color: #0e0e0e;
    padding: 10px 80px;
    border-radius: 30px;
    border: 1px solid #0e0e0e;
    cursor: pointer;
}

.monochrome-button:hover {
    border: 2px solid #0e0e0e;
}


#contact-us-c-1{
    border-right: 3px solid #f4f4f4;
}

#contact-us-c-2{
    border-right: 3px solid #f4f4f4;
}


@media screen and (max-width: 768px) {
    .contact-us-3-col{
        display: flex;
        flex-direction: column;
        margin: 2% 10%;
        background-color: #ffffff;
        padding: 3% 2%;
        align-items: center;
        justify-content: center;
    }
    #contact-us-c-1{
        border-bottom: 3px solid #f4f4f4;
        border-right: none;

    }

    #contact-us-c-2{
        border-bottom: 3px solid #f4f4f4;
        border-right: none;
    }
}

/*---------------frequent question section----------------*/

.frequent-question div{
    align-items: center;
    justify-content: center;
}


.frequent-question-container{
    margin: 2% 10% 2% 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2% 4%;
    background-color: #ffffff;
}

.frequent-question-container > div:first-child{
    padding-right: 20%;
}

.frequent-question > div:first-child p{
    line-height: 1.5em;
}


/* accordion */

#accordian ul{
    text-decoration: none;
}


#accordian li{
    list-style: none;
}
#accordian h3{
    font-size: 1em;
    line-height: 55px;
    padding: 0px 8px;
    cursor: pointer;
    color: #999999;
    margin-bottom: 8px;
    background-color: #f8f8f8;
}


#accordian p {
    font-size: 14px;
    padding: 2%;
    line-height: 1.5em;
}

#accordian h3 span{
    background-image: url("../img/angles-right-solid.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 35px;
    height: 31px;
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-right: 25px;
}
#accordian .row{
    margin: 0px;
    background-color: #f4f4f4;
    display: none;
}
#accordian li.active .row{
    display: block;
}
#accordian li.active h3{
    background-color: #e6e6e6;
    color: #b4a078;
}

#accordian li.active p{
    font-size: 14px;
    padding: 2%;
}


/*frequent question section for smaller screen*/
@media screen and (max-width: 768px) {
    .frequent-question h2,
    .frequent-question p{
        text-align:  center;
    }

    .frequent-question-container{
        padding: 2%;
        margin: 0;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
    }

    .frequent-question-container > div:first-child{
        padding-right:0;
    }

    #accordian{
        padding-right: 5%;
    }
    #accordian p {
        text-align: left;
    }
}