
/*In this page I have*/
/*- four main pictures for the product*/
/*- product information including price and order button*/
/*- find a store/product details and delivery message is clickable*/
/*- you may also like use the filter*/



h1, h2, h3, h4, th, td{
    font-family: 'Manrope', sans-serif;
}

h5{
    font-family: 'EB Garamond', sans-serif;
}

h6{
    font-family:Breath;
}

p,a,li,textarea,input{
    font-family: 'Manrope', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

main{
    display: flex;
    flex-direction: column;
}

/*-----------------Product buying section----------------*/
.product-detail{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 8%;
}


.product-picture{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
}

.product-picture img{
    width: 100%;
    height: auto;
}

.product-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 20%;
}

.product-info div:first-child{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    align-items: center;
    text-align: right;
    font-size: 14px;
}

.product-info div:first-child h4{
    color: #808080;
    text-align: left;
}


.product-info div:first-child i{
    text-decoration: none;
    color: #808080;
}

.product-info div:first-child i:hover{
    color: #b98c81;
    /*#b98c81 is Analogous Colors of #b9a881*/
}

.product-info div:nth-child(2){
     margin: 0;
     line-height: 1em;
 }

.product-info div:nth-child(2) h3{
    font-size: 15px;
}


.product-info div:nth-child(3){
    text-align: center;
}

.cart-button {
    background-color: #0e0e0e;
    color: #f4f4f4;
    border: 1px solid #0e0e0e;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Manrope', sans-serif;
}

.cart-button:hover {
    background-color: #f4f4f4;
    color: #0e0e0e;
}


.product-info div:nth-child(4){
    line-height: 1.1em;
}

.product-info div:nth-child(4) p{
    color: #808080;
    font-size: 12px;
    padding-top: 2%;
}


.product-info div:last-child{
    font-size: 12px;
    color: #808080;
}

.product-info div:last-child ul{
    line-height: 2em;
    padding: 0;
    list-style: none;
}

.product-info div:last-child ul li{
    text-align: left;
}

.product-info div:last-child ul li a{
    color: #808080;
    text-decoration: none;
    cursor: pointer;
}

.product-info div:last-child ul li a:hover{
    font-weight: bold;
    text-decoration: underline;
}


@media screen and (max-width: 768px) {
    .product-detail{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 125px;
        margin-bottom: 8%;
    }
    .product-info{
        padding: 5%;
    }
}



/*------------------------product-video-section-----------------*/

.product-video-container {
    position: relative;
}

.product-video-container h2 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    z-index: 1;
    text-transform: uppercase;
}

.product-video-container p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 0.8em;
    text-align: center;
    z-index: 1;
}


#product-video{
    width: 100%;
    height: auto;
}



/*--------------------you-may-also-like section ----------------------*/


.you-may-also-like{
    display: flex;
    flex-direction: column;
    padding: 2%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.you-may-also-like-picture {
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 100%;
    min-height: 40vh;
    padding: 2%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.you-may-also-like-picture img{
    width: 80%;
    height: auto;
    transition: all linear .15s;
    filter: grayscale(100%);
}

.you-may-also-like-picture img:hover{
    filter: grayscale(0%);
}


.pagination-div{
    width: 100%;
    margin-bottom: 5%;
}

.pagination{
    padding: 0 10%;
}
.pagination-container{
    text-align: center;
}
.pagination-container a{
    text-decoration: none;
    color: #0e0e0e;
    padding: 15px;
    border-bottom: solid 4px #a79161;
    transition: all .25s ease-in-out;
}
.pagination-container a:hover{
    outline: solid 4px #a79161;
    border-bottom: solid 0px #a79161;
}





